@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

:root {
    --color-black: #1e1e1e;
    --color-yellow: #ffc927;
    --color-red: #ff4d4d;
    --color-green: #2ecc71;
    --color-blue: #3498db;
    --white-light-color: #eee;
    --white-dark-color: #ddd;
    
}

*, body{
    font-family: "Martian Mono";
    font-weight: 300;
    
    background-color: var(--white-dark-color);
    color: var(--color-black);
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--white-light-color);
    font-weight: 600;
    font-size: 1.5em;

    padding: 2rem max(25%, 250px) 1rem;
}

.game-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls {
    display: flex;
    flex-direction: column;
}

.controls button:first-child {
    --hover-color: var(--color-yellow);
}
.controls button:last-child {
    --hover-color: var(--color-red);
}

.controls button {
    background-color: var(--hover-color);
    padding: 0.5rem 2rem;
    margin: 1rem;
    border: 0;
    border-radius: 0.5rem;

    font-size: 1em;
    font-weight: 600;
}
.controls button:hover {
    cursor: pointer;;
}

.gameboard {
    height: 30rem;
    aspect-ratio: 1/1;

    background-color: var(--white-light-color);

    margin: 5rem;
    padding: 1rem;
}

#grid {
    height: 100%;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 0.5rem;
}

[class^="cell"] {
    background-color: var(--white-light-color);
    align-content: center;
    
}

[class^="cell"]:hover {
    background-color: var(--white-dark-color);
    cursor: pointer;
}

#player1 {
    --shadow-color: var(--color-green);
}
#player2 {
    --shadow-color: var(--color-blue);
}


.player-info div {
    font-size: 3em;
    margin: 1rem;

}

.active-player {
    box-shadow: 0.4rem 0.4rem var(--shadow-color);
}